In [1]:
import pandas as pd

## DataFrame的操作

In [2]:
data = [[1,2,3],[2,7,8]]
index = ['a','b']
columns = ['A','B','C']
df = pd.DataFrame(data=data,index=index,columns=columns)
df

   A  B  C
a  1  2  3
b  2  7  8

### 查找

In [3]:
df['A']

a    1
b    2
Name: A, dtype: int64

In [4]:
df.iloc[1]

A    2
B    7
C    8
Name: b, dtype: int64

In [5]:
df.loc['a']

A    1
B    2
C    3
Name: a, dtype: int64

### 修改

In [6]:
df.loc['a']['C']

3

In [7]:
df.loc['a']['C'] = 22

In [8]:
df

   A  B   C
a  1  2  22
b  2  7   8

In [9]:
df.index = ['f','g']

In [10]:
df

   A  B   C
f  1  2  22
g  2  7   8

### 增加

In [11]:
df.loc['c'] = [1,2,3] #直接增加一列
df

   A  B   C
f  1  2  22
g  2  7   8
c  1  2   3

In [12]:
df['d'] = [7,8,9]  #直接增加一列
df

   A  B   C  d
f  1  2  22  7
g  2  7   8  8
c  1  2   3  9

In [13]:
"""将两个DataFrame连接在一起"""
data2 = [[1,2,3],[2,7,8]]
index2 = ['m','n']
columns2 = ['A','B','C']
df2 = pd.DataFrame(data=data2,index=index2,columns=columns2)
df2

   A  B  C
m  1  2  3
n  2  7  8

In [14]:
df3 = pd.concat([df,df2],axis=0) #默认是0，如果改成1就会出现NaN，因为维度对不上
df3

   A  B   C    d
f  1  2  22  7.0
g  2  7   8  8.0
c  1  2   3  9.0
m  1  2   3  NaN
n  2  7   8  NaN

In [15]:
"""增加多列则需要使用拼接DataFrame的方式"""
df

   A  B   C  d
f  1  2  22  7
g  2  7   8  8
c  1  2   3  9

In [16]:
df_append = pd.DataFrame(index = ['q','t'],data=[[7,7,7,7],
                                                 [8,8,8,8]],columns=['A','B','C','d'])
df_append

   A  B  C  d
q  7  7  7  7
t  8  8  8  8

In [17]:
df_appended = pd.concat([df,df_append],axis=0)
df_appended

   A  B   C  d
f  1  2  22  7
g  2  7   8  8
c  1  2   3  9
q  7  7   7  7
t  8  8   8  8

### 删除操作

In [18]:
del df_appended['C'] #这样只能删除列

In [19]:
df_appended.drop(['t'],axis=0,inplace=False) #这个就是不真实删除，只在这次打印中删除了

   A  B  d
f  1  2  7
g  2  7  8
c  1  2  9
q  7  7  7

In [20]:
df_appended.drop(['d'],axis=1,inplace=True)
df_appended

   A  B
f  1  2
g  2  7
c  1  2
q  7  7
t  8  8