In [1]:
import pandas as pd
#https://pandas.pydata.org/docs/reference/api/pandas.set_option.html?highlight=set_option#pandas.set_option

### 这里都比较简单，就是修改一些显示的设置方便查看

In [2]:
pd.get_option('display.max_rows')

60

In [3]:
s = pd.Series(index = range(0,100))
s

<ipython-input-3-194dce4a3d86>:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  s = pd.Series(index = range(0,100))

0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
      ..
95   NaN
96   NaN
97   NaN
98   NaN
99   NaN
Length: 100, dtype: float64

In [4]:
pd.set_option('display.max_rows',1)
s

0   NaN
     ..
Length: 100, dtype: float64

In [5]:
pd.get_option('display.max_columns')

20

In [6]:
s = pd.DataFrame(columns = range(0,100))
s

Empty DataFrame
Columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]
Index: []

[0 rows x 100 columns]

In [7]:
pd.set_option('display.max_columns',5)
s

Empty DataFrame
Columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]
Index: []

[0 rows x 100 columns]

In [8]:
pd.get_option('display.max_colwidth')

50

In [9]:
s = pd.Series(index = ['A'],data = ['t' * 100])
s

A    tttttttttttttttttttttttttttttttttttttttttttttt...
dtype: object

In [10]:
pd.set_option('display.max_colwidth',20)
s

A    tttttttttttttttt...
dtype: object

In [11]:
pd.get_option('display.precision')

6

In [12]:
s = pd.Series(data = [1.234567895443])
s

0    1.234568
dtype: float64

In [13]:
pd.set_option('display.precision',2)
s

0    1.23
dtype: float64