### python中操作时间

In [1]:
import datetime

In [2]:
dt = datetime.datetime(year=2017,month=11,day=24,hour=10,minute=30)
dt

datetime.datetime(2017, 11, 24, 10, 30)

In [3]:
print(dt)

2017-11-24 10:30:00

### pandas中操作时间

In [4]:
import pandas as pd

In [5]:
ts = pd.Timestamp('2017-11-24') ##构造时间
ts

Timestamp('2017-11-24 00:00:00')

In [6]:
print(ts)

2017-11-24 00:00:00

In [7]:
ts.month

11

In [8]:
ts.day

24

In [9]:
ts + pd.Timedelta('5 days') # 加5天

Timestamp('2017-11-29 00:00:00')

In [10]:
pd.to_datetime('2017-11-24') #构造时间

Timestamp('2017-11-24 00:00:00')

In [11]:
pd.to_datetime('24/11/2017')

Timestamp('2017-11-24 00:00:00')

### 在pandas中构建时间序列

In [12]:
s = pd.Series(['2017-11-24 00:00:00','2017-11-25 00:00:00','2017-11-26 00:00:00'])
s

0    2017-11-24 00:00:00
1    2017-11-25 00:00:00
2    2017-11-26 00:00:00
dtype: object

In [13]:
ts = pd.to_datetime(s)
ts

0   2017-11-24
1   2017-11-25
2   2017-11-26
dtype: datetime64[ns]

In [14]:
ts.dt.hour

0    0
1    0
2    0
dtype: int64

In [15]:
ts.dt.weekday

0    4
1    5
2    6
dtype: int64

In [16]:
pd.Series(pd.date_range(start='2017-11-24',periods = 10,freq = '12H')) #构造一个时间序列(很多个日期)

0   2017-11-24 00:00:00
1   2017-11-24 12:00:00
2   2017-11-25 00:00:00
3   2017-11-25 12:00:00
4   2017-11-26 00:00:00
5   2017-11-26 12:00:00
6   2017-11-27 00:00:00
7   2017-11-27 12:00:00
8   2017-11-28 00:00:00
9   2017-11-28 12:00:00
dtype: datetime64[ns]

### 读取文件进行操作

In [17]:
data = pd.read_csv('flowdata.csv')
data.head()

                  Time   L06_347  LS06_347  LS06_348
0  2009-01-01 00:00:00  0.137417  0.097500  0.016833
1  2009-01-01 03:00:00  0.131250  0.088833  0.016417
2  2009-01-01 06:00:00  0.113500  0.091250  0.016750
3  2009-01-01 09:00:00  0.135750  0.091500  0.016250
4  2009-01-01 12:00:00  0.140917  0.096167  0.017000

In [18]:
data['Time1'] = pd.to_datetime(data['Time']) #设置一个新索引 datetime 格式的
data = data.set_index('Time1')
data

                                    Time   L06_347  LS06_347  LS06_348
Time1
2009-01-01 00:00:00  2009-01-01 00:00:00  0.137417  0.097500  0.016833
2009-01-01 03:00:00  2009-01-01 03:00:00  0.131250  0.088833  0.016417
2009-01-01 06:00:00  2009-01-01 06:00:00  0.113500  0.091250  0.016750
2009-01-01 09:00:00  2009-01-01 09:00:00  0.135750  0.091500  0.016250
2009-01-01 12:00:00  2009-01-01 12:00:00  0.140917  0.096167  0.017000
...                                  ...       ...       ...       ...
2013-01-01 12:00:00  2013-01-01 12:00:00  1.710000  1.710000  0.129583
2013-01-01 15:00:00  2013-01-01 15:00:00  1.420000  1.420000  0.096333
2013-01-01 18:00:00  2013-01-01 18:00:00  1.178583  1.178583  0.083083
2013-01-01 21:00:00  2013-01-01 21:00:00  0.898250  0.898250  0.077167
2013-01-02 00:00:00  2013-01-02 00:00:00  0.860000  0.860000  0.075000

[11697 rows x 4 columns]

In [19]:
data.index

DatetimeIndex(['2009-01-01 00:00:00', '2009-01-01 03:00:00',
               '2009-01-01 06:00:00', '2009-01-01 09:00:00',
               '2009-01-01 12:00:00', '2009-01-01 15:00:00',
               '2009-01-01 18:00:00', '2009-01-01 21:00:00',
               '2009-01-02 00:00:00', '2009-01-02 03:00:00',
               ...
               '2012-12-31 21:00:00', '2013-01-01 00:00:00',
               '2013-01-01 03:00:00', '2013-01-01 06:00:00',
               '2013-01-01 09:00:00', '2013-01-01 12:00:00',
               '2013-01-01 15:00:00', '2013-01-01 18:00:00',
               '2013-01-01 21:00:00', '2013-01-02 00:00:00'],
              dtype='datetime64[ns]', name='Time1', length=11697, freq=None)

In [20]:
data = pd.read_csv('flowdata.csv',index_col = 0,parse_dates = True) # 可以在读取的时候直接转换为时间
data.head()

                      L06_347  LS06_347  LS06_348
Time
2009-01-01 00:00:00  0.137417  0.097500  0.016833
2009-01-01 03:00:00  0.131250  0.088833  0.016417
2009-01-01 06:00:00  0.113500  0.091250  0.016750
2009-01-01 09:00:00  0.135750  0.091500  0.016250
2009-01-01 12:00:00  0.140917  0.096167  0.017000