In [1]:
import pandas as pd
import numpy as np
s = pd.Series(['A','b','B','gaer','AGER',np.nan])
s

0       A
1       b
2       B
3    gaer
4    AGER
5     NaN
dtype: object

In [2]:
s.str.lower() #转小写

0       a
1       b
2       b
3    gaer
4    ager
5     NaN
dtype: object

In [3]:
s.str.upper() #转大写

0       A
1       B
2       B
3    GAER
4    AGER
5     NaN
dtype: object

In [4]:
s.str.len() #求长度

0    1.0
1    1.0
2    1.0
3    4.0
4    4.0
5    NaN
dtype: float64

In [5]:
index = pd.Index(['  p','  l   ','e'])
index

Index(['  p', '  l   ', 'e'], dtype='object')

In [6]:
index.str.strip() #去空格

Index(['p', 'l', 'e'], dtype='object')

In [7]:
index.str.lstrip() #去左边空格

Index(['p', 'l   ', 'e'], dtype='object')

In [8]:
index.str.rstrip() #去右边空格

Index(['  p', '  l', 'e'], dtype='object')

In [9]:
df = pd.DataFrame(np.random.randn(3,2),columns = ['A a','B b'],index = range(3))
df

        A a       B b
0  0.195729  1.057628
1 -0.745501 -0.543649
2 -1.226603  0.403580

In [10]:
df.columns = df.columns.str.replace(' ','_') #格式化列名

In [11]:
df

        A_a       B_b
0  0.195729  1.057628
1 -0.745501 -0.543649
2 -1.226603  0.403580

In [12]:
s = pd.Series(['a_b_C','c_d_e','f_g_h'])
s

0    a_b_C
1    c_d_e
2    f_g_h
dtype: object

In [13]:
s.str.split('_') #将值切分，不会改变形状

0    [a, b, C]
1    [c, d, e]
2    [f, g, h]
dtype: object

In [14]:
s.shape

(3,)

In [15]:
s_new = s.str.split('_',expand = True) #将值切分，会改变形状
s_new

   0  1  2
0  a  b  C
1  c  d  e
2  f  g  h

In [16]:
s_new.shape

(3, 3)

In [17]:
s.str.split('_',expand = True,n=1) #将值切分，会改变形状，指定只切分哪列

   0    1
0  a  b_C
1  c  d_e
2  f  g_h

In [18]:
s = pd.Series(['A','Aas','Afgew','Ager','Agre','Ager'])
s

0        A
1      Aas
2    Afgew
3     Ager
4     Agre
5     Ager
dtype: object

In [19]:
s.str.contains('Ag') #判断是否包含

0    False
1    False
2    False
3     True
4     True
5     True
dtype: bool

In [20]:
s = pd.Series(['a','a|b','a|c'])
s

0      a
1    a|b
2    a|c
dtype: object

In [21]:
s_new_dum = s.str.get_dummies(sep = '|')  #切分后返回DataFrame，看看有多少可能性
print(type(s_new_dum),s_new_dum.shape,s_new_dum)

<class 'pandas.core.frame.DataFrame'> (3, 3)    a  b  c
0  1  0  0
1  1  1  0
2  1  0  1