In [1]:
import pandas as pd
import numpy as np

In [2]:
s = pd.Series(np.arange(5),index = np.arange(5)[::-1],dtype='int64')
s

4    0
3    1
2    2
1    3
0    4
dtype: int64

In [3]:
s_index = s.isin([1,3,4])  #判断下数据是否在这个集合中 0 没在，1在，2不在，3在，4在
s_index

4    False
3     True
2    False
1     True
0     True
dtype: bool

In [4]:

s[s_index]  #根据上面的索引我们就能拿到对应的数据

3    1
1    3
0    4
dtype: int64

In [5]:
s2 = pd.Series(np.arange(6),index = pd.MultiIndex.from_product([[0,1],['a','b','c']])) #多重索引
s2

0  a    0
   b    1
   c    2
1  a    3
   b    4
   c    5
dtype: int64

In [6]:
s2.iloc[s2.index.isin([(1,'a'),(0,'b')])]  #根据多重索引定位到每个具体数据集

0  b    1
1  a    3
dtype: int64

In [7]:
s

4    0
3    1
2    2
1    3
0    4
dtype: int64

In [8]:
s[s>2] #逐数据扫描

1    3
0    4
dtype: int64

In [9]:
dates = pd.date_range('20171124',periods=8)  #构造8天的时间序列
dates

DatetimeIndex(['2017-11-24', '2017-11-25', '2017-11-26', '2017-11-27',
               '2017-11-28', '2017-11-29', '2017-11-30', '2017-12-01'],
              dtype='datetime64[ns]', freq='D')

In [10]:
df = pd.DataFrame(np.random.randn(8,4),index=dates,columns=['A','B','C','D']) #8行4列的随机数据
df

                   A         B         C         D
2017-11-24 -0.076221  0.258664  1.047658 -0.299953
2017-11-25  0.042345  1.345387  1.844649 -0.331838
2017-11-26 -0.554452  0.882792  0.445144  0.152449
2017-11-27  1.561880 -0.978473  1.375227  0.196808
2017-11-28 -1.697770  0.110474  1.019911  1.402459
2017-11-29  0.546251 -0.311310  0.384775  0.664125
2017-11-30 -0.473473  0.174623 -0.342612  0.272054
2017-12-01 -0.257988 -0.366626  0.652447 -1.947700

In [11]:
df.where(df < 0) #拿出小于0的

                   A         B         C         D
2017-11-24 -0.076221       NaN       NaN -0.299953
2017-11-25       NaN       NaN       NaN -0.331838
2017-11-26 -0.554452       NaN       NaN       NaN
2017-11-27       NaN -0.978473       NaN       NaN
2017-11-28 -1.697770       NaN       NaN       NaN
2017-11-29       NaN -0.311310       NaN       NaN
2017-11-30 -0.473473       NaN -0.342612       NaN
2017-12-01 -0.257988 -0.366626       NaN -1.947700

In [12]:
df.where(df < 0,-df) #拿出小于0的，如果没小于0指定成负的

                   A         B         C         D
2017-11-24 -0.076221 -0.258664 -1.047658 -0.299953
2017-11-25 -0.042345 -1.345387 -1.844649 -0.331838
2017-11-26 -0.554452 -0.882792 -0.445144 -0.152449
2017-11-27 -1.561880 -0.978473 -1.375227 -0.196808
2017-11-28 -1.697770 -0.110474 -1.019911 -1.402459
2017-11-29 -0.546251 -0.311310 -0.384775 -0.664125
2017-11-30 -0.473473 -0.174623 -0.342612 -0.272054
2017-12-01 -0.257988 -0.366626 -0.652447 -1.947700

In [13]:
df.where(df < 0,999) #和上面一样，就是不满足条件指定默认值

                     A           B           C           D
2017-11-24   -0.076221  999.000000  999.000000   -0.299953
2017-11-25  999.000000  999.000000  999.000000   -0.331838
2017-11-26   -0.554452  999.000000  999.000000  999.000000
2017-11-27  999.000000   -0.978473  999.000000  999.000000
2017-11-28   -1.697770  999.000000  999.000000  999.000000
2017-11-29  999.000000   -0.311310  999.000000  999.000000
2017-11-30   -0.473473  999.000000   -0.342612  999.000000
2017-12-01   -0.257988   -0.366626  999.000000   -1.947700

In [14]:
df = pd.DataFrame(np.random.rand(10,3),columns = list('abc'))
df

          a         b         c
0  0.121335  0.774626  0.346833
1  0.242320  0.679435  0.804220
2  0.068430  0.742360  0.015691
3  0.878187  0.832200  0.244899
4  0.894086  0.229678  0.824672
5  0.758537  0.595096  0.315630
6  0.962764  0.388838  0.296636
7  0.315677  0.859590  0.336857
8  0.954353  0.747192  0.030255
9  0.354579  0.472621  0.715612

In [15]:
df.query('(a<b)')  #打印a<b的值

          a         b         c
0  0.121335  0.774626  0.346833
1  0.242320  0.679435  0.804220
2  0.068430  0.742360  0.015691
7  0.315677  0.859590  0.336857
9  0.354579  0.472621  0.715612

In [16]:
df.query('(a<b) & (b<c)') #进行查找

          a         b         c
1  0.242320  0.679435  0.804220
9  0.354579  0.472621  0.715612